<a href="https://colab.research.google.com/github/luisrobertobd/CasoEstudio_BdB_Python/blob/master/Copia_de_Test_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___


La mayoría de las tareas se pueden resolver de diferentes maneras. El nivel de dificultad es incremental.

Por favor tener en cuenta que todas estas preguntas se pueden responder con una línea de código.
____
**A continuacion encontrara enunciados que debe resolver de acuerdo a los conceptos vistos en clase, debe tener presente que existen casillas con el resultado experado, en lo posible No se debe borrar estos campos**
____

**Importe Pandas y Numpy, a continuacion lea en el archivo de comercio electrónico llamado (Ecommerce.csv) y almacénelo en un dataframe llamado df_ecommerce.**

In [1]:
# ESCRIBA SU CODIGO AQUI 
import pandas as  pd
import numpy as np
from google.colab import files
uploaded = files.upload()

Saving Copia de Ecommerce.csv to Copia de Ecommerce.csv

Importe la libreria de google para el cargue del archivo

In [ ]:
# ESCRIBA SU CODIGO AQUI

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Importe el archivo en el dataframe, **Se debe usar la codificacion latin-1**

In [6]:
df_ecommerce= pd.read_csv('Copia de Ecommerce.csv', encoding='latin-1')

**Muestre las primeras 5 filas del DataFrame para verificar que leyó los datos correctamente.**

In [9]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
print ( df_ecommerce.head(5))

    _unit_id  ...                                product_description
0  711158459  ...  The PlayStation 4 system opens the door to an ...
1  711158460  ...  The PlayStation 4 system opens the door to an ...
2  711158461  ...  The PlayStation 4 system opens the door to an ...
3  711158462  ...                                                NaN
4  711158463  ...  The PlayStation 4 system opens the door to an ...

[5 rows x 12 columns]

In [ ]:
# NO USAR ESTA CELDA

    _unit_id  relevance  relevance:variance  ... Unnamed: 28 Unnamed: 29 Unnamed: 30
0  711158459       3.67               471.0  ...         NaN         NaN         NaN
1  711158460       4.00                 0.0  ...         NaN         NaN         NaN
2  711158461       4.00                 0.0  ...         NaN         NaN         NaN
3  711158462       3.67               471.0  ...         NaN         NaN         NaN
4  711158463       3.33               471.0  ...         NaN         NaN         NaN

[5 rows x 31 columns]

**¿Cuántas filas y columnas hay?**

In [11]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
df_ecommerce.shape

(32671, 12)

In [ ]:
# NO USAR ESTA CELDA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32671 entries, 0 to 32670
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _unit_id            32671 non-null  int64
 1   relevance           20571 non-null  float64
 2   relevance:variance  20571 non-null  float64
 3   product_image       32671 non-null  object
 4   product_link        32671 non-null  object
 5   product_price       32671 non-null  object
 6   product_title       32671 non-null  object
 7   query               32671 non-null  object
 8   rank                32671 non-null  object
 9   source              32671 non-null  object
 10  url                 32671 non-null  object
 11  Unnamed: 11         177 non-null    object
 12  Unnamed: 12         90 non-null     object
 13  Unnamed: 13         62 non-null     object
 14  Unnamed: 14         32 non-null     object
 15  Unnamed: 15         19 non-null     object
 16  Unnamed: 16         10 non-null     object
 17  Unnamed: 17         7 non-null      object
 18  Unnamed: 18         6 non-null      object
 19  Unnamed: 19         5 non-null      object
 20  Unnamed: 20         4 non-null      object
 21  Unnamed: 21         3 non-null      object
 22  Unnamed: 22         3 non-null      object
 23  Unnamed: 23         2 non-null      object
 24  Unnamed: 24         2 non-null      object
 25  Unnamed: 25         2 non-null      object
 26  Unnamed: 26         1 non-null      object
 27  Unnamed: 27         1 non-null      object
 28  Unnamed: 28         1 non-null      object
 29  Unnamed: 29         1 non-null      object
 30  Unnamed: 30         1 non-null      object
dtypes: float64(2), int64(1), object(28)
memory usage: 7.7+ MB

Listamos las columnas del dataframe

In [13]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
print (df_ecommerce.columns)

Index(['_unit_id', 'relevance', 'relevance:variance', 'product_image',
       'product_link', 'product_price', 'product_title', 'query', 'rank',
       'source', 'url', 'product_description'],
      dtype='object')

In [ ]:
# NO USAR ESTA CELDA

Index(['_unit_id', 'relevance', 'relevance:variance', 'product_image',
       'product_link', 'product_price', 'product_title', 'query', 'rank',
       'source', 'url', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30'],
      dtype='object')

Eliminar las columnas **basura** es decir de la **11 a la 30**

In [22]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
df1 =  df_ecommerce.drop( 'product_description' , axis= 1)
df1.columns

Index(['_unit_id', 'relevance', 'relevance:variance', 'product_image',
       'product_link', 'product_price', 'product_title', 'query', 'rank',
       'source', 'url'],
      dtype='object')

In [ ]:
# NO USAR ESTA CELDA (Validamos las columnas resultantes)

Index(['_unit_id', 'relevance', 'relevance:variance', 'product_image',
       'product_link', 'product_price', 'product_title', 'query', 'rank',
       'source', 'url'],
      dtype='object')

Se debe quitar las **,(coma)** de la columna precio (Product_price)

In [37]:
# Validamos que no es posible realizar el casting  de los valores. 
print (df1['product_price'].str.replace(',',''))

0                             $329.98
1                             $324.84
2                             $324.83
3                             $350.00
4        $308.00\nTrending at\n$319.99
                     ...
32666               $109.99Sale $74.95
32667                         $175.00
32668              $175.00Sale $119.95
32669                         $169.00
32670                $59.99Sale $39.95
Name: product_price, Length: 32671, dtype: object

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# Validamos que Ya posible realizar el casting  de los valores.

0        329.98
1        324.84
2        324.83
3        350.00
4        308.00
          ...
32666    189.99
32667    175.00
32668    189.99
32669    169.00
32670    189.99
Name: product_price, Length: 32671, dtype: float64

Convertimos la columna precio (**product_price**) en **float**

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32671 entries, 0 to 32670
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _unit_id            32671 non-null  int64
 1   relevance           20571 non-null  float64
 2   relevance:variance  20571 non-null  float64
 3   product_image       32671 non-null  object
 4   product_link        32671 non-null  object
 5   product_price       32671 non-null  float64
 6   product_title       32671 non-null  object
 7   query               32671 non-null  object
 8   rank                32671 non-null  object
 9   source              32671 non-null  object
 10  url                 32671 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 2.7+ MB

Contamos cuantos **registros** tenemos en el dataframe

In [36]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
df1.count(axis=0)

_unit_id              32671
relevance             20571
relevance:variance    20571
product_image         32671
product_link          32671
product_price         32671
product_title         32671
query                 32671
rank                  32671
source                32671
url                   32671
dtype: int64

In [ ]:
# NO USAR ESTA CELDA

_unit_id              32671
relevance             20571
relevance:variance    20571
product_image         32671
product_link          32671
product_price         32671
product_title         32671
query                 32671
rank                  32671
source                32671
url                   32671
dtype: int64

Contamos cuantas tiendas (**source**) tenemos en el dataframe

In [46]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO


 
print(    df1.groupby(['source'])  ['source'].count() )

source
Overstock     7536
Shop.com     13093
Target        3023
eBay          4179
walmart       4840
Name: source, dtype: int64

In [ ]:
# NO USAR ESTA CELDA

32671

Listar la tiendas **(source)** diferentes a : ***Shop.com,  Overstock,  walmart , eBay , eBay , Target***

In [88]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

##print( df1  [ ('source'  )]  [df1["source"]=="Shop.com" ]  

df1 ['source'] [df1["source"]!='eBay']

2353     Overstock
2354     Overstock
2355     Overstock
2356     Overstock
2357     Overstock
           ...
32666     Shop.com
32667     Shop.com
32668     Shop.com
32669     Shop.com
32670     Shop.com
Name: source, Length: 28492, dtype: object

In [ ]:
# NO USAR ESTA CELDA

array(['16', 'King', '20', '21', '25', '12', '24', '3', '14', '15', '19',
       '6', '23', 'glitter vials', '18', 'XL', '17', '2', '10', '11', '9',
       '4', '5', '7', '8', '13', ' 2851 Routers', '51', '57', '34', '35',
       'queen comforter sets', '41', '45', '49', '36', '38', '43', '50',
       '52', '29', '54', '28', '30', '31', '32', '33', '37', '44', '55',
       '56', '27', ' a Soldier of the Revolution (Paperback)',
       'flea and tick control for dogs', '58', '26'], dtype=object)

Contar las tiendas **(source)** diferentes a : ***Shop.com,  Overstock,  walmart , eBay , eBay , Target***

In [87]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
df1 [ ('source'  )] [df1["source"]=='eBay'

SyntaxError: ignored

In [ ]:
# NO USAR ESTA CELDA

95

Borrar las tiendas **(source)** diferentes a : ***Shop.com,  Overstock,  walmart , eBay , eBay , Target***

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
#NO USAR ESTA CELDA (Contamos la cantidad de tiendas despues de la eliminacion)

32576

Listar cantidad de productos por tienda (**source**)

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

Shop.com     13015
Overstock     7536
walmart       4824
eBay          4179
Target        3022
Name: source, dtype: int64

Calcular el precio promedio de los precios de los elementos (**product_price**)

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

101.03392037086485

¿Cuál es el precio de compra (**product_price**) máximo?

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

18900.0

¿Cuál es el precio de compra (**product_price**) minimo?

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

0.01

Listar los productos **unicos** columna (**query**)

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

array(['playstation 4', 'eye cream', 'routers', 'shaver panasonic',
       'coffee grinder', 'high chairs', 'face cream',
       'Brett Favre NY Titans jersey blue', 'aroma diffuser',
       'Bluray Hobbit extended', 'white plain dinner set',
       'double stroller', 'Vanilla Scented Perfumes', 'wireless mouse',
       'spiderman', 'bedspreads', 'kitchen rugs', 'LED monitor',
       'PS2 controller USB', 'extenal hardisk 500 gb', 'laptop lenovo',
       'microwave', 'wall clocks', 'yankee candle', 'cleaning robot',
       'cuisinart coffee maker', 'kobo e-reader', 'videogames ps4',
       'wii microphone', 'storage ottoman', 'Wii Gamepad',
       'Seagate 2TB hard disk', 'wine rack', 'fitbit charge',
       'acoustic guitar clamp', 'pressure cooker',
       'teenage mutant ninja turtles', 'Bird seed feeder',
       'zippo hand warmer', 'coffee for nespresso', 'stick vacuum',
       '16 gb memory card', 'samsung galaxy phone case',
       'Wired Xbox 360 controller', 'pots and pans set',
       'screen protector samsung', 'keurig coffee maker',
       'electric griddle', 'bluetooth speaker',
       'Single serve coffee maker', 'digital camera', 'Wireless Mouse',
       'Phillips coffee maker', 'cast iron skillet', 'Assassinss Creed',
       'playstation vita system', 'aveeno shampoo', 'road bicycle',
       'iphone 5', 'notebook paper', 'an extremely goofy movie',
       'shotgun shell pouch', 'thomas the train',
       'ps3 wireless controller', 'full tang knife',
       'gucci guilty intense women', 'rubbermaid turntables',
       'dean guitar', 'wreck it ralph', 'speck iphone 5 case', 'zippo',
       'steel necklace', 'micro usb to hdmi', 'galaxy note 3',
       'seiko monster', 'lego star wars', 'kitchenaid glass bowl',
       'projector', 'candle lantern', 'polaroid camera', 'wii',
       'plantronics corded headset', 'cross strap backpack',
       'polar heart rate monitor', 'dual headset splitter',
       'flea and tick control for dogs', 'candle chandelier',
       'hello kitty', 'tv', 'duck dynasty', 'batman', 'soda stream',
       'rice cooker', 'toaster oven', 'kitchenaid mixer', 'gold dress',
       'tote bag', 'crocs', 'yellow dress', 'Levis',
       'Rechargable batteries', 'gold toe socks', 'pittsburgh pirates',
       'nike womens', 'toddler sandals', 'Dc shoes black', 'rain boot',
       'drawer organizer', 'headphones earbuds', 'cowboy boots',
       'memory foam mattress topper', 'workout clothes for women',
       'nike shoes', 'ecco shoes', 'portable hard drive', 'bike lock',
       'martial art headgear', 'hawaiian shirt', 'mens dress shirts',
       'Watch women fossil', 'silver jeans', 'queen comforter sets',
       'green bay packers', 'table runner', 'skechers womens shoes',
       'khaki pants', 'duffle bag', 'memory foam pillow', 'yoga pants',
       'sleeping bags', 'silver necklace', 'white jeans',
       'reusable straws', 'patio umbrellas', 'wall mirrors',
       'solar battery charger', 'yoga mat', 'candle holders',
       'rachel ray cookware', 'converse high tops',
       'Sunglasses polarized', 'green laser pointer', 'electric blanket',
       'baseball cleats', 'button down shirt', 'high heels shoes',
       'chocolate molds', 'white dress', 'Power surge protector',
       'flannel sheets', 'bike for children', 'macbook case 13 case',
       'macbook case 13 case"', 'toy trucks', 'Cocoa Butter', 'blendtec',
       'levis 505', 'hair accessories', 'k cups', 'sports bra',
       'light bulb', 'dress shirts', 'yankees', 'cat grass',
       'patio tables', 'cargo shorts', 'boyfriend jeans', 'rain jacket',
       'dish towels', 'table clock', 'nutri system',
       'baseball photo frame', 'gym gloves', 'knife victorinox',
       'business badge holder', 'car window sticker', 'blue mini fridge',
       'harley-davidson', 'hat rack', "leather men's briefcase",
       'anime necklace', 'glitter vials', 'long prom dress',
       'multiple phone charger', 'girls halloween costumes',
       'ipad 2 heavy duty case', 'ps3 memory card', 'mens leather shirt',
       'apple iphone 32 gb otterbox', 'iphone 4 case', 'kitchen faucet',
       'ray ban sunglasses', 'dollhouse bathtub', 'car jump starter',
       'silicone toe separators', 'coffee cup', 'solar charger',
       'men earrings diamond squared', 'tablet accessories',
       'flower bulbs', 'metal lathe', 'storage drawers',
       'three wheeled bike', 'bridal shower decorations', 'aqua shoes',
       'golf clubs', '8 ounce mason jars', 'punch bowls',
       'mac book air cover', 'led christmas lights', 'neck pillow',
       'outdoor table cover', 'barbie', 'legos', 'pyrex',
       'infinity scarf', 'robe', 'waffle maker', 'blender',
       'sweater dress', 'snow boots', 'samsonite', 'samsonite"',
       'dresses for women', 'decorative pillows', 'ice cream maker',
       'san francisco 49ers', 'adidas pants', 'lc lauren conrad dresses',
       'silver ring', 'fifa 15', 'adidas fragance', 'vanity fair bras',
       'Nike Shox', 'minecraft diamond sword', 'nike flip flops',
       'Refrigirator', 'beats headphones', 'volcom short',
       'bluesky gel nail polish', 'longboard pads', 'werewolf costume',
       'polo bear sweater', 'small brass bow', 'oakley radar',
       'skeleton poster', 'dr who lanyard',
       'hallmark wedding couple figurine', 'fuji bike shirt',
       'ninja turtle socks', 'hollister polo', 'beer stein', 'golf shoes',
       'over the knee snow boots', 'vans backpack', 'converse low top',
       'oakley polarized radar', 'glass marbles', 'pencil skirt',
       'Donut Shoppe K Cups', 'deep fryers',
       'tupperware water bottle lime', "victoria's secret lace gown",
       'victoria secret pink shorts'], dtype=object)

¿Cunatos productos son **bike lock** ?

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

298

¿Cuantos productos tienen el rango **'1'**  columna(**rank**)

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1025 entries, 0 to 20552
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _unit_id            1025 non-null   int64
 1   relevance           1025 non-null   float64
 2   relevance:variance  1025 non-null   float64
 3   product_image       1025 non-null   object
 4   product_link        1025 non-null   object
 5   product_price       1025 non-null   float64
 6   product_title       1025 non-null   object
 7   query               1025 non-null   object
 8   rank                1025 non-null   object
 9   source              1025 non-null   object
 10  url                 1025 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 96.1+ KB

¿Cuáles son los 5 productos (**product_title**) más comunes?

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

Logitech Wireless Mouse M325                                  20
Wreck-It Ralph (Blu-ray/DVD, 2013, 2-Disc Set)                16
Wintergreen Lighting Christmas LED Light Bulb (Pack of 25)    15
Personalized Black Chevron Parchment Jute Tote Bag            15
Divatex Flannel Sheets                                        12
Name: product_title, dtype: int64

Cual es el precio (**product_price**) mas alto para el articulo (**query**) "fifa 15"

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

950.0

¿Cuál es el nombre (**Product_title**) del producto identificado con el id (**_unit_id**) : ***713196633***?

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

32666    Kamik Gamma2 Snow Boots (For Women)
Name: product_title, dtype: object

Listar los productos  de la tienda (**source**) *eBay* donde el precio (**product_price**) sea mayor a $700 (Recuperar solo las columnas: ***source , product_title ,product_price***)

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

      source                                      product_title  product_price
6       eBay          BRAND NEW Sony PlayStation 4 BUNDLE 500gb         910.00
501     eBay  Lenovo Y50 Touch 15.6 1080p i7-4700HQ 2gb 860M...         750.50
504     eBay  Lenovo Thinkpad T450S 8GB Memory-256SSD HD, i5...         880.00
507     eBay  Lenovo Y50 Touch Gaming Laptop i7-4700HQ 2.4/3...         789.95
1240    eBay  Nikon D D750 24.3 MP Digital SLR Camera - Blac...        1500.00
1420    eBay  2012 Felt Z5 51cm Carbon Road Bike - Shimano 1...        1495.00
1427    eBay  2014  Specialized Venge Pro 56cm Carbon Fiber ...        3395.00
1429    eBay  Specialized Transition Comp Tri Bike 54cm Road...         953.90
1664    eBay  DEAN MAB Rocket electric GUITAR new w/ CASE - ...         749.00
1873    eBay  Lego Star Wars Ultimate Collector's Millennium...        2400.00
20779   eBay           Orbit Baby Double Travel Syatem Stroller         700.00
21483   eBay  Nikon D3s 12.1 MP Digital SLR Camera - Black (...        2500.00
21521   eBay  Saeco Exprelia Stainless Steel Espresso Machin...        1100.00
21524   eBay  Saeco Royal One Touch Espresso Machine, Double...        1499.00
21529   eBay  Philips Saeco 8753/11 Intelia One Touch Cappuc...         845.00
21830   eBay  Dean Dave Mustaine V VMNT Rust In Peace Electr...         794.95
21832   eBay  Dean MAB Rocket Metallic Silver Michael Angelo...         749.00
21835   eBay  DEAN Michael Schenker Custom Flames V GUITAR w...         749.00

¿Cuantos productos (**product_title**) tienen la plabra "***Sony PlayStation 4***" en su titulo?

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

68

¿Cuáles son los 4 sitios web más comunes de acuerdo a su url (**url**)? (e.g: www.shop.com  ,  www.ebay.com , etc...)

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

www.shop.com         13015
www.overstock.com     7536
www.walmart.com       4824
www.ebay.com          4179
Name: 2, dtype: int64

¿Cree dos nuevos dataframes del dataframe df_ecommerce ('**product_price**', '**source**') y realice la concatenación en un nuevo dataframe

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

       product_price    source
0             329.98      eBay
1             324.84      eBay
2             324.83      eBay
3             350.00      eBay
4             308.00      eBay
...              ...       ...
32666         189.99  Shop.com
32667         175.00  Shop.com
32668         189.99  Shop.com
32669         169.00  Shop.com
32670         189.99  Shop.com

[32576 rows x 2 columns]

Ordene el nuevo dataframe generado por la columna ('**product_price**') de manera descendiente

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

       product_price     source
7128        18900.00   Shop.com
7130        13100.00   Shop.com
25687       12717.49   Shop.com
25595       10924.99   Shop.com
4642         9616.49  Overstock
...              ...        ...
1533            0.05       eBay
1598            0.01       eBay
2177            0.01       eBay
21758           0.01       eBay
21766           0.01       eBay

[32576 rows x 2 columns]

Ordene el nuevo dataframe generado por la columna (**source**)

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

       product_price     source
23622          99.99  Overstock
5031           49.99  Overstock
5030           31.99  Overstock
5029          283.99  Overstock
5028          299.99  Overstock
...              ...        ...
18169          28.66    walmart
18170          89.00    walmart
18171          39.92    walmart
18313          13.99    walmart
16321           3.47    walmart

[32576 rows x 2 columns]

Realice la concatenación de '**relevance**' y '**product_price**' usando *.join*

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

       relevance  product_price
0           3.67         329.98
1           4.00         324.84
2           4.00         324.83
3           3.67         350.00
4           3.33         308.00
...          ...            ...
32666        NaN         189.99
32667        NaN         175.00
32668        NaN         189.99
32669        NaN         169.00
32670        NaN         189.99

[32576 rows x 2 columns]

Cree un nuevo dataframe con la agrupacion de los datos por la columna **source**

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA (Validamos el tipo de objecto)

Calcule la **media**  de los precios de los productos (**product_price**) por tienda (**source**)

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

source
Overstock    109.601561
Shop.com     134.567945
Target        58.206446
eBay          66.068770
walmart       54.295305
Name: product_price, dtype: float64

Calcule la **desviacion estandar**  de las columnas que sea posible de acuerdo a la agrupacion de tienda (**source**)

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

               _unit_id  relevance  relevance:variance  product_price
source
Overstock  9.989559e+05   0.871501          382.240637     322.550280
Shop.com   1.008612e+06   0.815212          393.410736     337.233789
Target     8.746861e+02   0.957533          380.439236     114.610054
eBay       1.004940e+06   0.550937          356.011023     132.280012
walmart    1.402544e+03   0.918197          371.279199     103.731263

Calcule el valor minimo de cada columna del dataframe agrupado por tienda (**source**)

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

            _unit_id  ...                                                url
source                ...
Overstock  711160815  ...  ,http://www.overstock.com/search?keywords=macb...
Shop.com   711165202  ...  http://www.shop.com/search/16 gb memory card?k...
Target     711171190  ...  http://www.target.com/s?searchTerm=16%20gb%20m...
eBay       711158459  ...  http://www.ebay.com/sch/i.html?_from=R40&_trks...
walmart    711174219  ...  http://www.walmart.com/search/?query=16%20gb%2...

[5 rows x 10 columns]

Contar los elementos del dataframe agrupados por tienda (**Source**)

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

           _unit_id  relevance  relevance:variance  ...  query   rank    url
source                                              ...
Overstock      7536       4383                4383  ...   7536   7536   7536
Shop.com      13015       5939                5939  ...  13015  13015  13015
Target         3022       3022                3022  ...   3022   3022   3022
eBay           4179       2353                2353  ...   4179   4179   4179
walmart        4824       4824                4824  ...   4824   4824   4824

[5 rows x 10 columns]

Describir los datos de acuerdo a cada variable de los datos agrupados por tienda (**source**)

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

source                       Overstock  ...       walmart
_unit_id           count  7.536000e+03  ...  4.824000e+03
                   mean   7.120102e+08  ...  7.111766e+08
                   std    9.989559e+05  ...  1.402544e+03
                   min    7.111608e+08  ...  7.111742e+08
                   25%    7.111627e+08  ...  7.111754e+08
                   50%    7.111646e+08  ...  7.111766e+08
                   75%    7.131876e+08  ...  7.111779e+08
                   max    7.131895e+08  ...  7.111791e+08
relevance          count  4.383000e+03  ...  4.824000e+03
                   mean   3.232523e+00  ...  3.149075e+00
                   std    8.715009e-01  ...  9.181968e-01
                   min    1.000000e+00  ...  1.000000e+00
                   25%    2.670000e+00  ...  2.600000e+00
                   50%    3.670000e+00  ...  3.500000e+00
                   75%    4.000000e+00  ...  4.000000e+00
                   max    4.000000e+00  ...  4.000000e+00
relevance:variance count  4.383000e+03  ...  4.824000e+03
                   mean   3.294664e+02  ...  3.338264e+02
                   std    3.822406e+02  ...  3.712792e+02
                   min    0.000000e+00  ...  0.000000e+00
                   25%    0.000000e+00  ...  0.000000e+00
                   50%    1.200000e+00  ...  4.710000e+02
                   75%    4.710000e+02  ...  4.710000e+02
                   max    1.414000e+03  ...  1.414000e+03
product_price      count  7.536000e+03  ...  4.824000e+03
                   mean   1.096016e+02  ...  5.429530e+01
                   std    3.225503e+02  ...  1.037313e+02
                   min    1.490000e+00  ...  7.900000e-01
                   25%    2.680500e+01  ...  1.239000e+01
                   50%    4.899000e+01  ...  2.300000e+01
                   75%    8.599250e+01  ...  5.900000e+01
                   max    9.616490e+03  ...  1.889960e+03

[32 rows x 5 columns]