<a href="https://colab.research.google.com/github/luisrobertobd/CasoEstudio_BdB_Python/blob/master/Taller4_dataframes_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

datos = {
    'Manzanas': [3, 2, 0, 1, 6, 3, 1], 
    'Naranjas': [0, 3, 7, 2, 4, 2, 3],
    'Peras': [4, 0, 0, 3, 8, 1, 3],
    'Kiwi': [1, 2, 0, 3, 1, 1, 3]
}

compras = pd.DataFrame(datos)
compras = pd.DataFrame(datos, index = ['June', 'Robert', 'Lily', 'David', 'Laura', 'Fabio', 'Ana'])

In [ ]:
compras
#compras.head(2)

In [ ]:
#compras.index
#compras.columns
#compras.describe()
compras [compras['Manzanas'] > 1]

In [ ]:
import pandas as pd
print("Compras de manzanas: \n", compras['Manzanas'])

print("Compras de manzanas y naranjas: \n", compras[['Manzanas', 'Naranjas']])

print("Compras de Robert: \n", compras.loc['Robert'] )

print("Compras de Robert en Peras y Kiwi: \n", compras.loc['Robert', ['Peras', 'Kiwi']])

print("Compras de Robert y Fabio en peras y kiwi: \n", compras.loc[['Robert', 'Fabio'], ['Peras', 'Kiwi']])

print("Compras de Lily en manzanas: \n", compras.iloc[2, 0])

print("Compras de kiwis y manzanas por todos: \n", compras.iloc[:, [0, 3]])

print("Compras de manzanas mayor a 1: \n", compras[compras['Manzanas'] > 1 ])

Manejo de Strings  en dataframes

In [19]:
import pandas as pd
empresas= {'nombres':['banco Sudameris',
                      'bAnColomBia',
                      'BANIstmo',
                      'banco popular',
                      'Colpatria',
                      'porVENIR']}



df_empresas = pd.DataFrame(empresas)

print (df_empresas)
print(df_empresas['nombres'].str.lower())
 

print(df_empresas['nombres'].str.upper())

print(df_empresas['nombres'].str.capitalize())

print(df_empresas['nombres'].str.len())

print(df_empresas['nombres'].str.split(' '))

print(df_empresas['nombres'].str[:3])

print(df_empresas['nombres'].str.replace('popular', 'occidente'))

print(df_empresas['nombres'].str.lower().str.findall('ban'))

print(df_empresas['nombres'].str.lower().str.count('b'))

           nombres
0  banco Sudameris
1      bAnColomBia
2         BANIstmo
3    banco popular
4        Colpatria
5         porVENIR
0    banco sudameris
1        bancolombia
2           banistmo
3      banco popular
4          colpatria
5           porvenir
Name: nombres, dtype: object
0    BANCO SUDAMERIS
1        BANCOLOMBIA
2           BANISTMO
3      BANCO POPULAR
4          COLPATRIA
5           PORVENIR
Name: nombres, dtype: object
0    Banco sudameris
1        Bancolombia
2           Banistmo
3      Banco popular
4          Colpatria
5           Porvenir
Name: nombres, dtype: object
0    15
1    11
2     8
3    13
4     9
5     8
Name: nombres, dtype: int64
0    [banco, Sudameris]
1         [bAnColomBia]
2            [BANIstmo]
3      [banco, popular]
4           [Colpatria]
5            [porVENIR]
Name: nombres, dtype: object
0    ban
1    bAn
2    BAN
3    ban
4    Col
5    por
Name: nombres, dtype: object
0    banco Sudameris
1        bAnColomBia
2           BANIstmo
3    banco occidente
4          Colpatria
5           porVENIR
Name: nombres, dtype: object
0    [ban]
1    [ban]
2    [ban]
3    [ban]
4       []
5       []
Name: nombres, dtype: object
0    1
1    2
2    1
3    1
4    0
5    0
Name: nombres, dtype: int64

In [ ]:
Agrupaciones

In [35]:
ventas = pd.DataFrame({
    "Categoria": [1, 2, 1, 1, 2, 1],
    "Producto": ["A", "B", "C", "B", "A", "A"],
    "Ventas": [6, 2, 1, 4, 5, 2],
    "Nombre": ["7a", 8, 4, 4, 2, "ab"]
    })

print (ventas.columns)
print(ventas.describe())
print(ventas)
print( ventas  [['Categoria' , 'Ventas']]  [ventas["Categoria"]==1  ]   )
print(ventas.groupby('Producto').mean())

print("\n")

print(ventas.groupby(['Categoria', 'Producto']).mean())

print(ventas.groupby('Producto').sum() )
print(    ventas.groupby(['Producto'])  ['Ventas'].sum() )
print(ventas.groupby(['Producto' , 'Categoria']) ['Ventas'].sum()   )
print(ventas.groupby(['Producto' , 'Categoria']) ['Ventas'].sum().unstack()[2]  )

Index(['Categoria', 'Producto', 'Ventas', 'Nombre'], dtype='object')
       Categoria    Ventas
count   6.000000  6.000000
mean    1.333333  3.333333
std     0.516398  1.966384
min     1.000000  1.000000
25%     1.000000  2.000000
50%     1.000000  3.000000
75%     1.750000  4.750000
max     2.000000  6.000000
   Categoria Producto  Ventas Nombre
0          1        A       6     7a
1          2        B       2      8
2          1        C       1      4
3          1        B       4      4
4          2        A       5      2
5          1        A       2     ab
   Categoria  Ventas
0          1       6
2          1       1
3          1       4
5          1       2
          Categoria    Ventas
Producto
A          1.333333  4.333333
B          1.500000  3.000000
C          1.000000  1.000000


                    Ventas
Categoria Producto
1         A              4
          B              4
          C              1
2         A              5
          B              2
          Categoria  Ventas
Producto
A                 4      13
B                 3       6
C                 1       1
Producto
A    13
B     6
C     1
Name: Ventas, dtype: int64
Producto  Categoria
A         1            8
          2            5
B         1            4
          2            2
C         1            1
Name: Ventas, dtype: int64
Producto
A    5.0
B    2.0
C    NaN
Name: 2, dtype: float64

Manejo de indices

In [ ]:
from google.colab import files
uploaded = files.upload()

In [60]:


df_poblacion = pd.read_csv('3.1.4-poblacion.csv')


##field Country as  index  
df_poblacion.set_index(['Country'])

df_un_indice = df_poblacion.set_index(['Country'])
print (df_poblacion)
print (df_un_indice)
##### fields country, years  as  index  
#df_multi_indice = df_poblacion.set_index(['Country', 'year'])
#print (df_multi_indice )   
#df_multi_indice = df_multi_indice.sort_index()
#df_multi_indice 
print(df_multi_indice)

#print(df_multi_indice.xs(['Colombia']))
#print(df_multi_indice.xs('Zimbabwe'))
##print(df_multi_indice.loc[pd.IndexSlice['Chile': 'Cuba', '2015': '2017'], :].sort_index())

print(df_multi_indice.sum(level = 'year'))

print (df_multi_indice.groupby(level=1).sum())


print(df_multi_indice.loc[pd.IndexSlice['Chile': 'Cuba', '2015': '2017'], :].sort_index())

                       Country  year           pop
0                  Afghanistan  2015  3.441360e+07
1                      Albania  2015  2.880703e+06
2                      Algeria  2015  3.972802e+07
3               American Samoa  2015  5.581200e+04
4                      Andorra  2015  7.801100e+04
...                        ...   ...           ...
1035  Pre-demographic dividend  2018  9.194854e+08
1036              Small states  2018  4.057532e+07
1037                South Asia  2018  1.814389e+09
1038   South Asia (IDA & IBRD)  2018  1.814389e+09
1039        Sub-Saharan Africa  2018  1.078307e+09

[1040 rows x 3 columns]
                          year           pop
Country
Afghanistan               2015  3.441360e+07
Albania                   2015  2.880703e+06
Algeria                   2015  3.972802e+07
American Samoa            2015  5.581200e+04
Andorra                   2015  7.801100e+04
...                        ...           ...
Pre-demographic dividend  2018  9.194854e+08
Small states              2018  4.057532e+07
South Asia                2018  1.814389e+09
South Asia (IDA & IBRD)   2018  1.814389e+09
Sub-Saharan Africa        2018  1.078307e+09

[1040 rows x 2 columns]
                         pop
Country     year
Afghanistan 2015  34413603.0
            2016  35383128.0
            2017  36296400.0
            2018  37172386.0
Albania     2015   2880703.0
...                      ...
Zambia      2018  17351822.0
Zimbabwe    2015  13814629.0
            2016  14030390.0
            2017  14236745.0
            2018  14439018.0

[1040 rows x 1 columns]
               pop
year
2015  6.567915e+10
2016  6.648793e+10
2017  6.729418e+10
2018  6.808789e+10
               pop
year
2015  6.567915e+10
2016  6.648793e+10
2017  6.729418e+10
2018  6.808789e+10
                                pop
Country          year
Chile            2015  1.796935e+07
                 2016  1.820907e+07
                 2017  1.847044e+07
China            2015  1.371220e+09
                 2016  1.378665e+09
                 2017  1.386395e+09
Colombia         2015  4.752067e+07
                 2016  4.817139e+07
                 2017  4.890107e+07
Comoros          2015  7.774240e+05
                 2016  7.955920e+05
                 2017  8.138920e+05
Congo, Dem. Rep. 2015  7.624454e+07
                 2016  7.878913e+07
                 2017  8.139876e+07
Congo, Rep.      2015  4.856095e+06
                 2016  4.980999e+06
                 2017  5.110702e+06
Costa Rica       2015  4.847804e+06
                 2016  4.899345e+06
                 2017  4.949954e+06
Cote d'Ivoire    2015  2.322614e+07
                 2016  2.382271e+07
                 2017  2.443747e+07
Croatia          2015  4.203604e+06
                 2016  4.174349e+06
                 2017  4.124531e+06
Cuba             2015  1.132478e+07
                 2016  1.133511e+07
                 2017  1.133926e+07

--->  NULOS

In [ ]:
import numpy as np

ventas = pd.DataFrame({"A":[3, np.nan, 1],
                "B":[1, 5, np.nan],
                "C":[3, 7, 2],
                "D":[4, 2, np.nan]},
                index = ["Ene", "Feb", "Mar"])

print(ventas)

print(ventas.isnull())

print(ventas.dropna())

print(ventas.fillna(0))


print(ventas)

ventas_depurado= ventas.fillna(0)

print (ventas_depurado)

5) VALORES REPETIDOS

In [ ]:
estudiantes = [('jack', 34, 'Sydeny'),
               ('Riti', 30, 'Delhi'),
               ('Aadi', 16, 'New York'),
               ('Riti', 30, 'Delhi'),
               ('Riti', 30, 'Delhi'),
               ('Riti', 30, 'Mumbai'),
               ('Aadi', 40, 'London'),
               ('Sachin', 30, 'Delhi')
               ]
print (estudiantes )
df_estudiantes = pd.DataFrame(estudiantes, columns=['Nombre', 'Edad', 'Ciudad'])

print (df_estudiantes )
print(df_estudiantes.duplicated())

print("\n")

##print(df_estudiantes.duplicated(['Nombre']))
#print(df_estudiantes.drop_duplicates())

print(df_estudiantes.drop_duplicates('Nombre'))

print (df_estudiantes )

8)   --->>>> FUSIONAR

In [ ]:
import pandas as pd

df_ventas = pd.DataFrame({
            "Mes": ["ene", "feb", "mar", "may"],
            "Ventas": [14, 8, 12, 17]})

df_costos = pd.DataFrame({
            "Mes": ["feb", "ene", "mar", "abr"],
            "Costos": [7, 6, 8, 5]})

print(df_ventas) 
print(df_costos)

print(pd.merge(df_ventas, df_costos))
print(pd.merge(df_ventas, df_costos, how = "outer"))

print("\n")

9)   --->> CONCATENAR

In [ ]:
import pandas as pd

datos_estudiante_uno = pd.DataFrame({
                        'id': ['S1', 'S2', 'S3', 'S4', 'S5'],
                        'nombre': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
                        'notas': [5.0, 3.8, 1.9, 4.4, 4.1]})

datos_estudiante_dos = pd.DataFrame({
                        'id': ['S4', 'S5', 'S6', 'S7', 'S8'],
                        'nombre': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
                        'notas': [2.9, 4.8, 4.2, 3.5, 4.0]})


print (datos_estudiante_uno)
print(datos_estudiante_dos)
datos_concatenados = pd.concat([datos_estudiante_uno, datos_estudiante_dos])

print("\n")

print(datos_concatenados)

TALLER  
El   archivo   titanic.csv contiene información de los pasajeros del Titanic. Escriba un programa que realice lo siguiente: 

Generar un DataFrame con los datos del archivo Titanic.csv. 

0) Imprimir las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas. 

1) Imprimir los datos del pasajero con id 100. 

2) Imprimir las filas impares del DataFrame. 

3) Imprimir los nombres de las personas que iban en segunda clase ordenadas alfabéticamente. 

4) Imprimir el porcentaje de personas que sobrevivieron y murieron. 

5) Imprimir el porcentaje de personas que murieron en cada clase. 

6) Eliminar del DataFrame los pasajeros con edad desconocida. 

7) Imprimir la edad media de los hombres que viajaban en cada clase. 

8) Añadir una nueva columna para determinar si el pasajero era menor de edad o no. 

9) Imprimir el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.