<a href="https://colab.research.google.com/github/luisrobertobd/CasoEstudio_BdB_Python/blob/master/Taller4_dataframes_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

datos = {
    'Manzanas': [3, 2, 0, 1, 6, 3, 1], 
    'Naranjas': [0, 3, 7, 2, 4, 2, 3],
    'Peras': [4, 0, 0, 3, 8, 1, 3],
    'Kiwi': [1, 2, 0, 3, 1, 1, 3]
}

compras = pd.DataFrame(datos)
compras = pd.DataFrame(datos, index = ['June', 'Robert', 'Lily', 'David', 'Laura', 'Fabio', 'Ana'])

In [ ]:
compras
#compras.head(2)

In [ ]:
#compras.index
#compras.columns
#compras.describe()
compras [compras['Manzanas'] > 1]

In [ ]:

print("Compras de manzanas: \n", compras['Manzanas'])

print("Compras de manzanas y naranjas: \n", compras[['Manzanas', 'Naranjas']])

print("Compras de Robert: \n", compras.loc['Robert'] )

print("Compras de Robert en Peras y Kiwi: \n", compras.loc['Robert', ['Peras', 'Kiwi']])

print("Compras de Robert y Fabio en peras y kiwi: \n", compras.loc[['Robert', 'Fabio'], ['Peras', 'Kiwi']])

print("Compras de Lily en manzanas: \n", compras.iloc[2, 0])

print("Compras de kiwis y manzanas por todos: \n", compras.iloc[:, [0, 3]])

print("Compras de manzanas mayor a 1: \n", compras[compras['Manzanas'] > 1 ])

Manejo de Strings  en dataframes

In [ ]:
empresas= {'nombres':['banco Sudameris',
                      'bAnColomBia',
                      'BANIstmo',
                      'banco popular',
                      'Colpatria',
                      'porVENIR']}

df_empresas = pd.DataFrame(empresas)

print(df_empresas['nombres'].str.lower())

print(df_empresas['nombres'].str.upper())

print(df_empresas['nombres'].str.capitalize())

print(df_empresas['nombres'].str.len())

print(df_empresas['nombres'].str.split(' '))

print(df_empresas['nombres'].str[:3])

print(df_empresas['nombres'].str.replace('popular', 'occidente'))

print(df_empresas['nombres'].str.lower().str.findall('ban'))

print(df_empresas['nombres'].str.lower().str.count('b'))

In [ ]:
Agrupaciones

In [ ]:
ventas = pd.DataFrame({
    "Categoria": [1, 2, 1, 1, 2, 1],
    "Producto": ["A", "B", "C", "B", "A", "A"],
    "Ventas": [6, 2, 1, 4, 5, 2]})

print(ventas)
##print( ventas  [['Categoria' , 'Ventas']]  [ventas["Categoria"]==1  ]   )
print(ventas.groupby('Producto').mean())

print("\n")

print(ventas.groupby(['Categoria', 'Producto']).mean())

print(ventas.groupby('Producto').sum() )
print(    ventas.groupby(['Producto'])  ['Ventas'].sum() )
print(ventas.groupby(['Producto' , 'Categoria']) ['Ventas'].sum().unstack()[1]  )

Manejo de indices

In [ ]:
df_poblacion = pd.read_csv('3.1.4-poblacion.csv')

##  field country as  index  
df_poblacion.set_index(['Country'])
df_un_indice = df_poblacion.set_index(['Country'])
##df_poblacion
df_un_indice
##### fields country, years  as  index  
df_multi_indice = df_poblacion.set_index(['Country', 'year'])
##df_multi_indice 
df_multi_indice = df_multi_indice.sort_index()
df_multi_indice 
#print(df_multi_indice)

##print(df_multi_indice.xs(['Colombia']))
#print(df_multi_indice.xs('Zimbabwe'))
##print(df_multi_indice.loc[pd.IndexSlice['Chile': 'Cuba', '2015': '2017'], :].sort_index())

print(df_multi_indice.sum(level = 'year'))

print (df_multi_indice.groupby(level=0).sum())

--->  NULOS

In [ ]:
import numpy as np

ventas = pd.DataFrame({"A":[3, np.nan, 1],
                "B":[1, 5, np.nan],
                "C":[3, 7, 2],
                "D":[4, 2, np.nan]},
                index = ["Ene", "Feb", "Mar"])

print(ventas)

print(ventas.isnull())

print(ventas.dropna())

print(ventas.fillna(0))


print(ventas)

ventas_depurado= ventas.fillna(0)

print (ventas_depurado)

5) VALORES REPETIDOS

In [ ]:
estudiantes = [('jack', 34, 'Sydeny'),
               ('Riti', 30, 'Delhi'),
               ('Aadi', 16, 'New York'),
               ('Riti', 30, 'Delhi'),
               ('Riti', 30, 'Delhi'),
               ('Riti', 30, 'Mumbai'),
               ('Aadi', 40, 'London'),
               ('Sachin', 30, 'Delhi')
               ]
print (estudiantes )
df_estudiantes = pd.DataFrame(estudiantes, columns=['Nombre', 'Edad', 'Ciudad'])

print (df_estudiantes )
print(df_estudiantes.duplicated())

print("\n")

##print(df_estudiantes.duplicated(['Nombre']))
#print(df_estudiantes.drop_duplicates())

print(df_estudiantes.drop_duplicates('Nombre'))

print (df_estudiantes )

8)   --->>>> FUSIONAR

In [ ]:
import pandas as pd

df_ventas = pd.DataFrame({
            "Mes": ["ene", "feb", "mar", "may"],
            "Ventas": [14, 8, 12, 17]})

df_costos = pd.DataFrame({
            "Mes": ["feb", "ene", "mar", "abr"],
            "Costos": [7, 6, 8, 5]})

print(df_ventas) 
print(df_costos)

print(pd.merge(df_ventas, df_costos))
print(pd.merge(df_ventas, df_costos, how = "outer"))

print("\n")

9)   --->> CONCATENAR

In [ ]:
import pandas as pd

datos_estudiante_uno = pd.DataFrame({
                        'id': ['S1', 'S2', 'S3', 'S4', 'S5'],
                        'nombre': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
                        'notas': [5.0, 3.8, 1.9, 4.4, 4.1]})

datos_estudiante_dos = pd.DataFrame({
                        'id': ['S4', 'S5', 'S6', 'S7', 'S8'],
                        'nombre': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
                        'notas': [2.9, 4.8, 4.2, 3.5, 4.0]})


print (datos_estudiante_uno)
print(datos_estudiante_dos)
datos_concatenados = pd.concat([datos_estudiante_uno, datos_estudiante_dos])

print("\n")

print(datos_concatenados)

TALLER  
El   archivo   titanic.csv contiene información de los pasajeros del Titanic. Escriba un programa que realice lo siguiente: 

Generar un DataFrame con los datos del archivo Titanic.csv. 

0) Imprimir las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas. 

1) Imprimir los datos del pasajero con id 100. 

2) Imprimir las filas impares del DataFrame. 

3) Imprimir los nombres de las personas que iban en segunda clase ordenadas alfabéticamente. 

4) Imprimir el porcentaje de personas que sobrevivieron y murieron. 

5) Imprimir el porcentaje de personas que murieron en cada clase. 

6) Eliminar del DataFrame los pasajeros con edad desconocida. 

7) Imprimir la edad media de los hombres que viajaban en cada clase. 

8) Añadir una nueva columna para determinar si el pasajero era menor de edad o no. 

9) Imprimir el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.